$titlebar-background: transparent;
$topbar-background: transparent;

.top-bar {

    .menu {
        a {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 8px;
          }
          a:before, a:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            height: 4px;
            background-color: #F23827;
            border-radius: 2px;
          }
          a:before {
            opacity: 0;
            -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
            transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          a:after {
            opacity: 0;
            -webkit-transform: translateY(4px);
                    transform: translateY(4px);
            transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          a:hover:before, a:hover:after, a:focus:before, a:focus:after {
            opacity: 1;
            -webkit-transform: translateY(0);
                    transform: translateY(0);
          }
          a:hover:before, a:focus:before {
            transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          a:hover:after, a:focus:after {
            transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
            transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          a:active {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            padding-bottom: 10px;
          }
    }

    img {
        max-width: 100px;
        min-width: 100px;
    }

}

.title-bar-left {

    img {
        max-width: 100px;
        min-width: 100px;
    }
}

